
#background {
  viewport-fill: black;
}

.tile-list-item {
  height: 75;
}

.tile-divider-bottom {
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #A0A0A0;
}

.itemText {
  font-size: 24;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 64;
  fill: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemState {
  font-size: 24;
  font-family: Colfax-Regular;
  text-anchor: start;
  text-length: 64;
  fill: #2490DD
}

.titleText {
  x: 50%;
  y: 10%;
  width: 100%;
  height: 10%;
  font-size: 32;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 64;
  fill: #2490DD
}

.addressText {
  x: 50%;
  y: 20%;
  width: 100%;
  height: 10%;
  font-size: 22;
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 64;
  fill: #A0A0A0
}
